* {
    font-family: 'SF Pro Rounded', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus,
*:active {
    text-decoration: none;
    outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

input {
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

.title,
.subtitle,
.descr {
    font-size: 4.348vw;
    font-weight: bold;
    line-height: 143.21%;
    color: #000000;
}

.title-big {
    font-size: 5.797vw;
}

.subtitle-two {
    font-weight: 500;
    line-height: 5.072vw;
}

.link {
    font-size: 3.865vw;
    line-height: 143.21%;
    text-align: center;
    text-decoration-line: underline;
    color: #6747E5;
}

.txt {
    font-size: 3.865vw;
    line-height: 143.21%;
    color: #000000;
}

.btn {
    width: 69.324vw;
    font-size: 4.348vw;
    font-weight: 800;
    line-height: 5.072vw;
    text-align: center;
    letter-spacing: -0.105vw;
    text-transform: uppercase;
    background-color: #6747E5;
    border-radius: 3.382vw;
    padding-top: 3.382vw;
    padding-bottom: 3.382vw;
    color: #FFFFFF;
}

.crumbs {
    position: relative;
    font-size: 4.106vw;
    line-height: 5.797vw;
    text-align: center;
    color: #000000;
    padding-top: 4.831vw;
    padding-bottom: 6.280vw;
    background-color: #F8F8F8;
    background-image: url(../img/crumbs-arrow.svg);
    background-repeat: no-repeat;
    background-position: 8.454vw 5.9vw;
    margin-bottom: 7.729vw;
}

.unsubscription-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 9.903vw 8vw;
    background: linear-gradient(180deg, #F2EFFF 0%, #FFFFFF 100%);
    border-radius: 7.971vw;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-form-subtile {
    text-align: center;
    margin-bottom: 7.729vw;
}

.subscription-form-subtile-step-two {
    width: 75vw;
    padding-top: 10.145vw;
}

.subscription-step-2,
.subscription-step-3 {
    display: none;
}

/*new style*/


.subscribe-block-radio-wrapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7.729vw;
}

.subscribe-block-input-wrapp {
    display: flex;
    align-items: center;
    margin-bottom: 4.348vw;
}

.subscribe-block-input-wrapp:last-child {
    margin-bottom: 0;
}

.subscribe-block-radio-input {
    display: none;
}

.subscribe-block-radio-label {
    font-size: 4.106vw;
    line-height: 5.797vw;
    color: #000000;
    cursor: pointer;
}

.subscribe-block-radio-label:before {
    content: "";
    display: inline-block;
    width: 2.899vw;
    height: 2.899vw;
    border: 0.483vw solid #6747E5;
    border-radius: 50%;
    margin-right: 1.932vw;
}

.subscribe-block-radio-input:checked + .subscribe-block-radio-label:before {
    background-image: url(../img/point.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 0.966vw;
    background-size: 0.966vw;
}

.unsubscribe {
    font-size: 4.106vw;
    line-height: 143.21%;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 3.865vw;
    cursor: pointer;
}

.unsubscription-wrapp-two .subtitle {
    margin-bottom: 16.425vw;
}

.unsubscription-wrapp .descr {
    width: 70vw;
    font-size: 4.348vw;
    font-weight: bold;
    line-height: 143.21%;
    text-align: center;
    color: #6747E5;
    margin-bottom: 94px;
}

.management-items {
    padding-left: 7.729vw;
    padding-right: 7.729vw;
}

.management-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9.662vw;
}

.management-item>:first-child {
    margin-bottom: 12px;
}